<launch>

    <arg name="arg_ns" default="/"/>
    <group ns="$(arg arg_ns)">

        <node name="node_planner" pkg="vitulus_planner" type="node_planner" respawn="true" respawn_delay="1" output="log">
<!--            <param name="prm_name" value="prm_value"/>-->
<!--            <remap from="/topic" to="/another_topic" />-->
        </node>
    </group>

</launch>
