<launch>

    <arg name="arg_ns" default="/"/>
    <group ns="$(arg arg_ns)">

        <!--    #### Node template  #####-->
        <node name="node_planner" pkg="vitulus_planner" type="node_planner" respawn="true" respawn_delay="1" output="screen">
<!--            <param name="prm_name" value="prm_value"/>-->
<!--            <remap from="/topic" to="/another_topic" />-->
        </node>

    </group>

<!--    <include file="$(find vitulus_pkg_template)/launch/template.launch">-->
<!--&lt;!&ndash;        <param name="prm_name" value="prm_value"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <remap from="/topic" to="/another_topic" />&ndash;&gt;-->
<!--    </include>-->

    <!--##### Show in Rviz #####-->
    <!--    <node name="rviz"-->
    <!--              pkg="rviz"-->
    <!--              type="rviz"-->
    <!--              args="-d $(find vitulus_imu)/rviz/imu.rviz"-->
    <!--              required="false" />-->

</launch>
