<launch>

    <arg name="arg_ns" default="node_template"/>
    <group ns="$(arg arg_ns)">

        <!--    #### Node template  #####-->
        <node name="node_template" pkg="vitulus_pkg_template" type="node_template" respawn="true" respawn_delay="1" output="screen">
<!--            <param name="prm_name" value="prm_value"/>-->
<!--            <remap from="/topic" to="/another_topic" />-->
        </node>

    </group>

    <include file="$(find vitulus_pkg_template)/launch/template.launch">
<!--        <param name="prm_name" value="prm_value"/>-->
<!--        <remap from="/topic" to="/another_topic" />-->
    </include>

    <!--##### Show in Rviz #####-->
    <!--    <node name="rviz"-->
    <!--              pkg="rviz"-->
    <!--              type="rviz"-->
    <!--              args="-d $(find vitulus_imu)/rviz/imu.rviz"-->
    <!--              required="false" />-->

</launch>
